<template name="book">
<div class="animated fadeIn">
      <div class="jumbotron">
        <h1>Search for a book title</h1>
        <!--<p>This example is a quick exercise to illustrate how the default, static navbar and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>-->
        <p>This example is a simple exercise to illustrate the main features of <b><a href="https://www.meteor.com/">Meteor</a></b>: user account, templating and reactive data through collections. More details along with the source code can be found on <b>
            <a href="https://github.com/george2giga/librarymanager"> GitHub.</a></b>
        </p>
        <p>
          <input type="text" class="form-control searchBook"  id="searchBooks" placeholder="Search...">
          <!--<a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>-->
        </p>
      </div>
      <!--<input type="text" class="searchBooks" id="searchBooks" placeholder="Search...">-->      
      
    <div class="row booksMain">
        <!--{{notifyBookReturned}}-->
        {{#each books}}
            <!--{{#if isBookNewLine @index }}-->
        <div class="col-xs-4 col-md-4 col-lg-4">
            <div class="thumbnail">
            <img src="/images/{{cover_url}}" alt="{{title}}" class="img-responsive"/>
            <div class="caption">
                <!--<h4>{{title}}</h4>-->
                <!--<p class="bookDescription">{{description}}</p>-->
                {{#if currentUser}}
                    {{#if reserved}}
                        <button class="btn btn-lg btn-warning btn-block reserved" type="button">Reserve</button>
                    {{else}}
                        <button class="btn btn-lg btn-primary btn-block reserve" type="button">Reserve</button>
                    {{/if}}
                {{/if}}
            </div>    
            </div>
        </div>
        {{/each}}
    </div>
</div>
</template>