<template name="myBooks">
    <div class="animated fadeIn">
        <!--<div class="jumbotron">
            <h1>Navbar example</h1>
            <p>This example is a quick exercise to illustrate how the default, static navbar and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
            <p>
            <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
            </p>
        </div>-->
        <div class="row">
            {{#each reservations}}
            <div class="col-xs-4 col-md-4 col-lg-4 animated bounceIn">
                <div class="thumbnail">    
                <p><img src="/images/{{book.cover_url}}" alt="{{book.title}}"/></p>
                <button class="btn btn-lg btn-primary btn-block returnBook" type="button">Return</button>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</template>