.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}


.thumbnail img {
    display: block;
    // width: 250px;
    width: 100%;    
    max-height: 450px;
}
.whogotwhat
{
    max-width: 64px;
}

.badge.reservations {
    position: relative;
    bottom: 9px;
}
  
  
.footer {
    position: inherit;
    bottom: 0;
    height: 60px;
    background-color: #f5f5f5;
}

.container .text-muted {
  margin: 20px 0;
}

